body {
  padding: 0;
  margin: 0;
}
#map,
body,
html {
  height: 100%;
}
.legend {
  line-height: 18px;
  color: #555;
  font-weight: bold;
  padding: 6px 8px;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.legend .hsp {
  color:green;
}

.legend .bl {
  color:orange;
}

.legend .wh {
  color: blue;
}

.legend .asn {
  color: magenta;
}
